* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-style: sans-serif;
}

.main {
  margin: 50px auto 0;
  max-width: 800px;
  width: 100%;
}

.panel-head {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  margin: 0px 0;
  padding: 5px;
}

.panel-body {
  border: 1px solid #eee;
  height: 0;
  opacity: 0;
  padding: 5px;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all .4s ease;
}

.active + .panel-body {
  margin: 5px 0;
  height: 100%;
  opacity: 1;
  transform: scale(1, 1);
  transition: all .8s ease;
}

